﻿@model IEnumerable<DogMode.Models.Dog>

@{
    ViewBag.Title = "DogList";
}


<style>
    .project-people img {
        width: 80px;
        height: 80px;
    }
</style>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dog List</h5>
                    <div class="ibox-tools">
                        <a class="btn btn-danger btn-circle btn-outline" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.Label("Breed")
                            </th>

                            <th>Image</th>
                            <th>
                            </th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DogBreed.Name)
                                </td>
                                <td class="project-people">
                                    <img alt="image" class="img-circle thumb" src="@item.Image" onerror="this.onerror=null;this.src='https://dogmode.blob.core.windows.net/images/animal-paw-print.png'">
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "Dog", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                    @Html.ActionLink("Delete", "Delete", "Dog", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
