﻿@model DogMode.Models.DogOwner

@{
    ViewBag.Title = "Details";
    Layout = null;


}
@Html.Partial("typeahead")
<!-- Large modal -->
<div id="createNewDogSection">

    @Html.Partial("Partials/CreateNewDog", new Dog())
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Dog Owner</h5>
                </div>
                <div class="ibox-content">

                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                    </dl>

                    <div class="row">
                        @Html.Partial("Partials/DogList", (IEnumerable<Dog>)ViewBag.Dogs)
                    </div>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white" })
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{

    @Scripts.Render("~/plugins/dropZone")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".thumb").each(function () {
                if (typeof $(this).prop("src") == "undefined" || $(this).prop("src") == "") {
                    $(this).attr("src", 'https://dogmode.blob.core.windows.net/images/animal-paw-print.png');
                }
            })
        })
    </script>
}

@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}