﻿
@{
    ViewBag.Title = "Dog Owners";
}


@{
    ViewBag.Title = "Dog Owners";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "BookingListSection"
    };

    var name = Model != null ? Model.Name : AppConstants.ApplicationAdministratorTitle;
}
@model  Company

@Html.Partial("typeahead")

@Scripts.Render("~/plugins/knockout")
@Scripts.Render("~/plugins/slick")
@Styles.Render("~/plugins/slickStyles")
@Styles.Render("~/plugins/slickThemeStyles")



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>DOG OWNERS</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Admin ", "Index", "DogOwner")
            </li>
            <li class="active">
                <strong>Dog Owners</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search Dog Owners</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink(" ", "Edit", "DogOwner", null, new { @class = "btn btn-danger btn-circle btn-outline fa fa-plus" })
                    </div>
                </div>
                <div class="ibox-content text-center">
                    @Html.Partial("Partials/Filters", new FilterOptionModel() { companyId = Model != null ? Model.Id : (int?)null })
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" id="BookingListSection"></div>
        </div>

    </div>


    <script type="text/javascript">


    var pagelimit = 0;

    var viewmodel = {
        roles: [],
        statuses: [],
        keywords: ko.observable(),
        seelctedStatus: ko.observable(),


        onSelectionChange: function () {
            $("#page").val('0');
            doSearch();
        },
        onSelectionStatusChange: function () {
            $("#page").val('0');
            doSearch();
        },

        cleanFilters: function () {

            $("#page").val('0');
            $("#keywords").val('');
            $("#FeedStatus").val(-1);
            doSearch();
        }

    };
    // Initialize

    function doSearch() {
        $("#searchbookingsform").submit();
    }

    $(function () {


        @*$.get('@Url.Action("Statuses", "Feeds")', function (status) {
            viewmodel.statuses = status;
            applybindigs(status);
        });*@

        $("#searchbookingsform").submit();


    });
    function applybindigs(statuses) {

        console.log("Try apply bindings");
        viewmodel.statuses = statuses;
        ko.applyBindings(viewmodel);

    };

    function showDetails() {
        viewmodel.MainshowDetails();
    }


    function showmodal() {
        $("#bookingModal").html(null);

        $('#ChangeState').modal('show');
    }
    function hideModal() {
        $('#ChangeState').hide();
    }


    function GetBookingUpdateView(url) {
        $.ajax({
            type: "POST",
            url: url,
            //data: ,
            datatype: "html",
            success: function (data) {
                $('#bookingModal').html(data);

            }
        });
    }
    function UpdateStatus(id,status) {
        console.log("FEED uid :" + id);

        swal({
            title: "Do you want Update Status?",
            text: "To "+ status +"! ",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#008000",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: false
        },
                       function (isConfirm) {
                           if (isConfirm) {
                               $("#loaderSection").fadeIn();
                               $.post('@Url.Action("updatestatus","feeds")' + "?id=" + id+"&status="+status, function (data) {
                                   $.post('@Url.Action("Details","Feeds")' + "?id=" + id, function (view) {
                                       $("#BookingListSection").html(view);
                                       $("#loaderSection").fadeOut();
                                   });
                               });
                               swal("Changed!", "status has been changed to "+status, "success");
                           } else {

                              swal("Cancelled", "canceled", "error");
                           }
                       });
    }

    function ShowUserDetails(userid) {
        console.log("user id: " + userid);
        showmodal();
        GetBookingUpdateView('@Url.Action("UserSummary", "Feeds")' + "?id=" + userid);
    }

    function OnCompleteBookingUpdate(result) {
        console.log("nuevo resultado ");
        console.log(result);
        $("#searchbookingsform").submit();
        hideModal();
    }

    function sendPushNotification(id) {
         swal({
                    title: "Send Push Notificatons?",
                    text: "Do you want to send for  all devices!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#008000",
                    confirmButtonText: "Yes, send it!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("sendpush","feeds")'+"?id="+id, function (data) {
                                    console.log("ok push");
                                });
                                swal("Requested!", "Notification Has been send", "success");
                            } else {
                                swal("Cancelled", "Notification canceled", "error");
                            }
                        });
    }

    $(function () {



        //$('#CompanyName').on('typeahead:selected', function (e, datum) {
        //    console.log('companyID: ' + datum.id);
        //    // set value manually
        //    $("#CompanyToFilterId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});
        //$('#CampaignName').on('typeahead:selected', function (e, datum) {
        //    console.log('CampaignId: ' + datum.id);
        //    // set value manually
        //    $("#CampaignId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});
        //$('#CategoryName').on('typeahead:selected', function (e, datum) {
        //    console.log('CampaignId: ' + datum.id);
        //    // set value manually
        //    $("#BeaconId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});

    });

    </script>


    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")
