﻿
@{
    Layout = null;
}
@model FilterOptionModel 

<div class="row">
    @using (Ajax.BeginForm("SearchAsync", "Dog", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "BookingListSection",

    }, new { id = "searchbookingsform" }))
    {
        
        
        @*<div class="col-sm-2">
            <select class="input-sm form-control input-s-sm inline" id="FeedStatus" name="FeedStatus" data-bind="
                                    options: statuses,
                                    optionsText: 'Name',
                                    value : seelctedStatus,
                                    optionsValue: 'Id',event:{ change: onSelectionStatusChange},
                                    optionsCaption: 'State...' "></select>
        </div>*@
        
       @*<div class="col-sm-3">
           @Html.EditorFor(model=> model.date)
       </div>
        <div class="col-sm-3">
        @Html.EditorFor(model => model.end)
        </div>*@
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control" id="keywords" name="keywords" data-bind="value:keywords">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                </span>
            </div>
        </div>
        @*<div class="col-sm-2">
            <button class="btn btn-sm btn-danger inline" data-bind="click:cleanFilters">
                <i class="fa fa-close"></i>
            </button>

        </div>*@



    }

</div>

