﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Dog>

@{
    Layout = null;
    var filter = (string)ViewBag.FilterModel;
    var sortOrder = (string)ViewBag.SortOrder;
    var currentColumnOrder = (string)ViewBag.CurrentColumnSort;

    var options = new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" };
}

 

 
    <div class="row animated fadeInLeft">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                   
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                @*<th>
                            @Html.DisplayNameFor(model => model.LastUpdate)
                        </th>*@
                                <th>
                                    @Ajax.ActionLink("First Name", "Sort", new { filter = filter, columnName = "Name", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                
                                <th>

                                    @Ajax.ActionLink("Last Name", "Sort", new { filter = filter, columnName = "LastName", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                <th>

                                    @Ajax.ActionLink("Breed", "Sort", new { filter = filter, columnName = "Breed", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                <th>

                                    @Ajax.ActionLink("Owner First Name", "Sort", new { filter = filter, columnName = "DogOwner.Name", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                <th>

                                    @Ajax.ActionLink("Owner Last Name", "Sort", new { filter = filter, columnName = "DogOwner.LastName", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                 
                                <th>Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.LastUpdate)
                            </td>*@
                                    <td>
                                        @Shared.formatedName(item.Name)
                                    </td>
                                    
                                    <td>
                                        @Shared.formatedName(item.LastName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DogBreed.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DogOwner.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.DogOwner.LastName)
                                    </td>


                                    <td>
                                        @*<button class="btn btn-white btn-sm" onclick="sendPushNotification('@item.Id')"><i class="fa fa-envelope"></i> Push</button>*@
                                        @Ajax.ActionLink("Details", "Details", new { id = item.Id }, new AjaxOptions()
                               {
                                   HttpMethod = "Post",
                                   LoadingElementId = "loaderSection",
                                   UpdateTargetId = "BookingListSection",


                               },
                               new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                            }

                        </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="pager-num">
                                    @Html.PagedListPager(Model, page => Url.Action("Search", new { filterdata = filter, page, columnName = currentColumnOrder, sortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" }))
                                </div>
                                <div class="pager-text">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
 
