﻿@using Microsoft.Ajax.Utilities
@model  IdentityUserViewModel

@{
    ViewBag.Title = "Users";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "vertical-timeline"
    };

    var mainOptions = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "tablecontainer"
    };
}

@Scripts.Render("~/plugins/knockout")
<div class="wrapper wrapper-content  ">
    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">
            <div class="ibox animated fadeInRight">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center">
                                    <h2>@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</h2>

                                    <div class="m-b-sm">
                                        @if (Model.ProfilePicture != null)
                                        {
                                            <img alt="image" class="img-circle" src="@Model.ProfilePicture"
                                             style="width: 62px">
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    

                                    @*<p>
                                        <strong>@Html.DisplayNameFor(m => m.Address)</strong> @Html.DisplayFor(m => m.Address)
                                    </p>

                                    <p>
                                        <strong>@Html.DisplayNameFor(m => m.PhoneNumber)</strong> @Html.DisplayFor(m => m.PhoneNumber)
                                    </p>*@
                                    <p>
                                        <strong>@Html.DisplayNameFor(m => m.Email)</strong> @Html.DisplayFor(m => m.Email)
                                    </p>
                                    <p>
                                        <strong>@Html.DisplayNameFor(m => m.Role)</strong> @Html.DisplayFor(m => m.Role)
                                    </p>
                                    <p>
                                        @*<strong>Disable</strong>
                                        @Html.CheckBoxFor(m => m.DisableForCenter)*@
                                    </p>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        @Ajax.ActionLink(" Edit", "EditApplicationUser", new { id = Model.Id }, mainOptions, new { @class = "btn btn-primary" })
                                    }
                                    @Html.ActionLink(" Back to Users", "AccountMangement", null, new { @class = "btn btn-white" })
                                </div>
                            </div>
                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-lg-6">
            <div class="ibox animated fadeInRight">

                <div class="ibox-content">
                    <div class="tab-content">
                        <div id="contact-1" class="tab-pane active">
                            <div class="row m-b-lg">
                                <div class="col-lg-4 text-center" id="userSummary">
                               
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>

<script type="text/javascript">

    // Initialize


    $(function () {
        var userid = '@Model.Id';
        $("#DisableForCenter").change(function () {

            var isChecked = $(this).is(":checked");

            $.post('@Url.Action("LockUserForCenter", "Account")'+"?userId="+userid+"&locked="+isChecked, function (centers) {
                applybindigs(data,centers);
            });
        });

        @*$.post('@Url.Action("UserSummary","Booking")' + "?id=" + userid, function (view) {
            $("#userSummary").html(view);
        });*@
    });

</script>