﻿@using DogMode.Admin.Models
@using DogMode.BusinessAccess
 
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*<title>@ViewBag.Title | @Constants.ApplicationName</title>*@
    <title>@ViewBag.Title | @AppConstants.ApplicationName</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            @*<div>

                <h1 class="logo-name"><img src="~/Images/logo.png" /></h1>

            </div>*@
            <div>

                <h4 class="logo-name">DogMode</h4>

            </div>
            <h3>Welcome </h3>
            <p>
                DogMode App Management 
            </p>
            @*<p>Inice sesion</p>*@
            <div class="form-group">

                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
                 
            </div>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
           { @Html.AntiForgeryToken()
               <div class="form-group">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               </div>
                <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                <div class="form-group">

                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                    </div>
                <button type="submit" class="btn btn-w-m btn-success full-width m-b">Log In</button>

                @*<a href="#"><small>Olvido la Contraseña?</small></a>
                <p class="text-muted text-center"><small>no posee una cuenta?</small></p>
                <a class="btn btn-info  btn-block" href="@Url.Action("Register", "Account")">

                    Crear una cuenta
                </a>*@
            }
            <p class="m-t"> <small>App Copyright  &copy; @DateTime.Now.Year</small> </p>
    </div>
</div>

</body>

</html>

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}