﻿
@{
    ViewBag.Title = "Notifications";
}

<div class="wrapper wrapper-content animated fadeIn">

    <div class="p-w-md m-t-sm">
        <div class="row">

            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    @*26,900*@
                </h1>
                <small>
                    Vistas en los Ultimos 6 Meses
                </small>
                <div id="sparkline1" class="m-b-sm"></div>
                @*<div class="row">
                    <div class="col-xs-4">
                        <small class="stats-label">Pages / Visit</small>
                        <h4>236 321.80</h4>
                    </div>

                    <div class="col-xs-4">
                        <small class="stats-label">% New Visits</small>
                        <h4>46.11%</h4>
                    </div>
                    <div class="col-xs-4">
                        <small class="stats-label">Last week</small>
                        <h4>432.021</h4>
                    </div>
                </div>*@
                <div class="row" id="SixMonthsLoader">
                    @Html.Partial("_SmallLoader")
                </div>
            </div>
            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    
                </h1>
                <small>
                    Vistas en el Ultimo mes
                </small>
                <div id="sparkline2" class="m-b-sm"></div>
                <div class="row">
                    <div class="col-xs-3">
                        <small class="stats-label">1st Week</small>
                        @*<h4>166 781.80</h4>*@
                    </div>

                    <div class="col-xs-3">
                        <small class="stats-label">2d Week</small>
                        @*<h4>22.45%</h4>*@
                    </div>
                    <div class="col-xs-3">
                        <small class="stats-label">3d Week</small>
                        @*<h4>22.45%</h4>*@
                    </div>
                    <div class="col-xs-3">
                        <small class="stats-label">Last week</small>
                        @*<h4>862.044</h4>*@
                    </div>
                   
                </div>
                <div class="row" id="lastMonthLoader">
                    @Html.Partial("_SmallLoader")
                </div>

            </div>
            <div class="col-sm-4" >

                    <div class="row m-t-xs">
                        <div class="col-xs-6">
                            <h5 class="m-b-xs">Anuncios mas Vistos</h5>
                            @*<h1 class="no-margins">160,000</h1>
                            <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>*@
                        </div>
                        @*<div class="col-xs-6">
                            <h5 class="m-b-xs">Sals current year</h5>
                            <h1 class="no-margins">42,120</h1>
                            <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div>
                        </div>*@
                    </div>

                <div id="mostviewed">

                  @Html.Partial("_SmallLoader")
                </div>
              



            </div>

        </div>

       


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">



                    <div class="ibox-content">

                        @Html.Partial("Partials/Filter",new FilterOptionModel())

                        <div class="table-responsive" id="tablecontainer">
                            

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

@section Scripts {
    @Scripts.Render("~/plugins/sparkLine")
    @Scripts.Render("~/plugins/flot")

    <script type="text/javascript">

        function refreshGrid() {
            $("#searchstatisticsform").submit();
        }
        $(document).ready(function () {

            $("#searchstatisticsform").submit();

            $.get('@Url.Action("MostViewed", "statistics")', function (view) {
                $("#mostviewed").html(view);
            });

            $.get('@Url.Action("ViewsPerMonths", "statistics")', function (values) {
                console.log(values);
                $("#SixMonthsLoader").fadeOut();
                $("#sparkline1").sparkline(values, {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

            });

            $.get('@Url.Action("ViewsLastMonth", "statistics")', function (values) {
                console.log(values);
                $("#lastMonthLoader").fadeOut();
                $("#sparkline2").sparkline(values, {
                    type: 'line',
                    width: '100%',
                    height: '50',
                    lineColor: '#1ab394',
                    fillColor: "transparent"
                });

            });


            var sparklineCharts = function () {
                //$("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
                //    type: 'line',
                //    width: '100%',
                //    height: '50',
                //    lineColor: '#1ab394',
                //    fillColor: "transparent"
                //});

                //$("#sparkline2").sparkline([32, 11, 25, 37, 41, 32, 34, 42], {
                //    type: 'line',
                //    width: '100%',
                //    height: '50',
                //    lineColor: '#1ab394',
                //    fillColor: "transparent"
                //});

                //$("#sparkline3").sparkline([34, 22, 24, 41, 10, 18, 16, 8], {
                //    type: 'line',
                //    width: '100%',
                //    height: '50',
                //    lineColor: '#1C84C6',
                //    fillColor: "transparent"
                //});
            };

            var sparkResize;

            $(window).resize(function (e) {
                clearTimeout(sparkResize);
                sparkResize = setTimeout(sparklineCharts, 500);
            });

            sparklineCharts();




            //var data1 = [
            //    [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 20], [11, 10], [12, 13], [13, 4], [14, 7], [15, 8], [16, 12]
            //];
            //var data2 = [
            //    [0, 0], [1, 2], [2, 7], [3, 4], [4, 11], [5, 4], [6, 2], [7, 5], [8, 11], [9, 5], [10, 4], [11, 1], [12, 5], [13, 2], [14, 5], [15, 2], [16, 0]
            //];
            //$("#flot-dashboard5-chart").length && $.plot($("#flot-dashboard5-chart"), [
            //            data1, data2
            //],
            //        {
            //            series: {
            //                lines: {
            //                    show: false,
            //                    fill: true
            //                },
            //                splines: {
            //                    show: true,
            //                    tension: 0.4,
            //                    lineWidth: 1,
            //                    fill: 0.4
            //                },
            //                points: {
            //                    radius: 0,
            //                    show: true
            //                },
            //                shadowSize: 2
            //            },
            //            grid: {
            //                hoverable: true,
            //                clickable: true,

            //                borderWidth: 2,
            //                color: 'transparent'
            //            },
            //            colors: ["#1ab394", "#1C84C6"],
            //            xaxis: {
            //            },
            //            yaxis: {
            //            },
            //            tooltip: false
            //        }
            //);


        });
    </script>
}

