﻿@model DateTime

 
<div class='input-group date datetimepicker'>
    
    @Html.TextBoxFor(model=> model,new {@class="form-control" })
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript">
    $(function () {

        

        var dateformat = '@AppConstants.DateTimeFormat';
        $('.datetimepicker').datetimepicker({
            format: dateformat,
            focusOnShow: true,
            defaultDate: new Date()

        });
    });
</script>
 

@*
@Html.TextBoxFor(model => model, new { @class = "form -control date" })
    <script type="text/javascript">

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD.MM.YYY", true).isValid();
        }

       

        var dateformat = "dd/mm/yyyy";
        $('.date').datepicker({
            todayBtn: true,
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true,
            format: dateformat,
            //startDate: '0d',
            todayHighlight: true,
            //showOnFocus : false,
        });
    })
</script>*@
