﻿@model System.DateTime?


<div class='input-group date datetimepicker'>

   @Html.TextBox("", String.Format("{0:d}", Model.HasValue ? Model.Value.ToShortDateString() : string.Empty), new { @class = "form-control" })



    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
<script type="text/javascript">
    $(function () {



        var dateformat = '@AppConstants.DateTimeFormat';
        $('.datetimepicker').datetimepicker({
            format: dateformat,
            focusOnShow: true,
            defaultDate: new Date()

        });
    });
</script>