﻿@model DogMode.Models.AppointmentViewModel

@{
    ViewBag.Title = "Edit";

    var OwnerId = Model!=null ? Model.DogOwnerId :0;

    var IsNotNull = Model != null;

    if (IsNotNull)
    {
        //just to display full name in search box
        Model.OwnerFirstName = $"{Model.OwnerFirstName} {Model.OwnerLastName}";
    }
    var SelectedDogId = Model != null ? Model.DogId : 0;


}

@*@Scripts.Render("~/bundles/jqueryval")*@
@Scripts.Render("~/plugins/knockout")
@Scripts.Render("~/Scripts/knockout-date-bindings.js")
@Html.Partial("typeahead")


     <!-- Large modal -->
<div id="createNewDogSection">

    @Html.Partial("Partials/CreateNewDog", new Dog())
</div>





 
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Add To Queue</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Add</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated">

    <div class="row">
        <div class="col-lg-3" style="z-index:1">
            <div class="ibox" id="iboxdogs">
                <div class="ibox-content animated flipInY" >
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <h3>Add to Queue</h3>

                    <p class="small">
                        Search an Owner first
                    </p>

                    <div class="form-group">
                        <label>Owner</label>
                        
                        @Html.AutocompleteFor(model => model.OwnerFirstName, model => model.DogOwnerId, "GetOwner", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Search Dog Owner" } })
                        @Html.HiddenFor(model => model.DogOwnerId, new { data_bindg = "ownerId" })
                        @Html.ValidationMessageFor(model => model.DogOwnerId)
                    </div>
                    <div class="form-group">
                        <label>Dog</label>
                        <select class="form-control m-b" data-bind="
                                        options: dogs,
                                        optionsText: 'FullName',
                                        value : selectedDogId,
                                        optionsValue: 'Id',event:{ change: onSelectedDogChange}"></select>
                    </div>
                    <div class="form-group">
                        <label>Select Option</label>
                        @*optionsCaption: 'Appointment type...',*@
                        <select class="form-control" data-bind="
                                options: appointmentTypes,
                                optionsText: 'Name',
                                value : appointmentType,
                                optionsValue: 'Id',
                                event:{change:onAppointmentTypeChange}"></select>
                    </div>
                    <div class="form-group" id="checkInSection">
                        <label>Check In Time</label>
                            <input type="text" class="form-control" data-bind="datepicker: CheckInDate">
                        @*<div class='input-group date dateTimes'>

                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>*@
                        
                    </div>
                    <div class="form-group" id="checkoutsection">
                        <label>Check Out</label>
                        
                        <input type="text" id="checkout" class="form-control" placeholder="CheckOut" data-bind="datepicker: CheckOutDate">
                        
                        
                    </div>
                    <div id="paidHoursSection">

                   
                    <div class="form-group" id="paidHoursSection">
                        
                        <div class="radio radio-success">
                            <input type="radio"  value="0.5" name="sp" id="m30"  aria-label="30 minutes" data-bind="checked: presetHours, clickBubble: false">
                            <label for="m30">30 Minutes</label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio"  value="1" name="sp" id="ho1" aria-label="One Hour" data-bind="checked: presetHours,  clickBubble: false">
                            <label for="ho1">1 Hour</label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio"  value="1.5" name="sp" id="ho1-5"  aria-label="1.5 Hours" data-bind="checked: presetHours,  clickBubble: false">
                            <label for="ho1-5">1.5 Hours</label>
                        </div>
                        <div class="radio radio-success">
                            <input type="radio"  value="2" name="sp" id="ho2"   aria-label="2 Hours" data-bind="checked: presetHours,  clickBubble: false">
                            <label for="ho2">2 Hours</label>
                        </div>
                        
                    </div>
                        <div class="form-group">
                            <button data-toggle="collapse" data-target="#demo" class="btn btn-outline btn-info">Custom Paid Hours</button>
                        </div>
                        <div class="form-group collapse" id="demo">
                            <label>Paid Hours</label>
                            <input type="text" placeholder="Custom Paid Hours" class="input-sm form-control" data-bind="value:paidHours">
                        </div>
                    </div>
                    
                    <button class="btn btn-info btn-circle" type="button" data-bind="click: addDog">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-primary btn-circle" type="button" data-toggle="modal" data-target="#exampleModal"  >
                        <i class="fa fa-plus"></i>
                    </button>
                    
                    @*@Html.ActionLink(" ", "CreateNewDog", null, new { @class = "btn btn-primary btn-circle fa fa-plus" })*@

                    @Html.ActionLink(" ","Add",null, new { @class= "btn btn-warning btn-circle fa fa-refresh" })
                   
                    

                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins animated flipInX" id="iboxdogs2">
                <div class="ibox-title">
                    <h5>Select a Dog For Queue</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div class="row">

                    </div>
                
                    <div class="row">
                        <div class="table-responsive">
                            @Html.Partial("Partials/AppointmentItems")
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <button class="btn btn-info btn-circle btn-lg" type="button" data-bind="click: saveAppintments">
                                <i class="fa fa-check-square"></i>
                            </button>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-danger btn-circle btn-lg" type="button" data-bind="click: clearAppointments">
                                <i class="fa fa-times-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
   

       
    
</div>
 



@section scripts
    {

    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/slick")
    @Scripts.Render("~/plugins/sweetAlert")

}


@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
@Styles.Render("~/plugins/slickStyles")
@Styles.Render("~/plugins/slickThemeStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")

    @Styles.Render("~/plugins/sweetAlertStyles")
}
    <script type="text/javascript">
        $(document).ready(function () {

            $("#thumb").attr("src", $("#Image").val());
            Dropzone.options.uploader = {

                autoProcessQueue: false,
                parallelUploads: 1,
                maxFiles: 1,
                paramName: "files",
                createImageThumbnails: true,
                // Dropzone settings
                init: function () {
                    var myDropzone = this;

                    this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function () {
                    });
                    this.on("successmultiple", function (files, response) {
                        console.log(files);
                        console.log(response);
                        console.log("updated");

                    });
                    this.on("success", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                        console.log(res);
                        console.log(res.Message)
                        $("#Image").val(res.Message);
                        $("#thumb").attr("src", res.Message);
                    });
                    this.on("errormultiple", function (files, response) {
                    });

                    this.on("addedfile", function () {
                        console.log("addedfile");
                        $("#submituploadbutton").prop('disabled', false);
                    });
                    this.on("sending", function (){
                        console.log("start sending file");
                    });

                    
                }

            }
            
            

            console.log(Dropzone.options.uploader);
        });

        function onclikcToCollapse() {
            $("collapseOne").collapse('show');
            $("collapseTwo").collapse('hide');
        }

     

 

    var viewmodel = {
        ownerId: '@OwnerId',
        dogs: ko.observableArray(),
        selectedDogId: '@SelectedDogId',
        CheckInDate: ko.observable(new Date()),
        CheckOutDate: ko.observable(new Date()),
        appointmentType: 0,
        paidHours:null,
        appointmentTypes: ko.observableArray([]),
        dogsForAppointment: ko.observableArray([]),
        dogsForDelete: ko.observableArray([]),
        presetHours: ko.observable('0'),

        // ViewModel Methods for actions & events
        addDog: AddDog,
        saveAppintments: SaveAppointments,
        onSelectedDogChange: function () {
            console.log(viewmodel.selectedDogId);
        },
        clearAppointments: ClearAppointmentsList,
        clearForm: function () {

            //this.selectedDogId = -0;
            //this.CheckIn = ko.observable(new Date());
            //this.CheckOut = ko.observable(new Date());
            //this.appointmentType = 0;
            //this.paidHours = 0;

        },
        //hide checkout date picker for openSwim
        onAppointmentTypeChange: function () {
            if (this.appointmentType == 0) {
                $("#checkoutsection").fadeOut();
                $("#paidHoursSection").fadeIn();
                $("#checkInSection").fadeIn();
            }
            else {
                $("#checkoutsection").fadeIn();
                $("#paidHoursSection").fadeOut();
                $("#checkInSection").fadeOut();
            }
        },
        setPaidHours: function () {
            console.log(ko.toJS( this.presetHours));
        }
    }
    ko.bindingHandlers.trimText = {
        init: function (element, valueAccessor, allBindingsAccessor, viewModel) {
            var trimmedText = ko.computed(function () {
                var untrimmedText = ko.utils.unwrapObservable(valueAccessor());
                var defaultMaxLength = 15;
                var minLength = 5;
                var maxLength = ko.utils.unwrapObservable(allBindingsAccessor().trimTextLength) || defaultMaxLength;
                if (maxLength < minLength) maxLength = minLength;
                var text = untrimmedText.length > maxLength ? untrimmedText.substring(0, maxLength - 1) + '...' : untrimmedText;
                return text;
            });
            ko.applyBindingsToNode(element, {
                text: trimmedText
            }, viewModel);

            return {
                controlsDescendantBindings: true
            };
        }
    };

    ko.bindingHandlers.safeSrc = {
        update: function (element, valueAccessor) {
            var options = valueAccessor();
            var src = ko.unwrap(options.src);
            $(element).attr('src', ko.unwrap(options.fallback));
            var img = new Image();
            img.src = src;
            img.onload = function () {
                $(element).attr('src', src);
            };
        }
    };

    function AddDog() {

        if (ContainsDogId(viewmodel.dogsForAppointment, this.selectedDogId))
            swal("Error", "Cannot add the same dog more than once.", "error");


        ko.utils.arrayForEach(this.dogs(), function (thedog) {
            // avoid duplicates
            if (viewmodel.selectedDogId === thedog.Id
                && !ContainsDogId(viewmodel.dogsForAppointment, thedog.Id)) {

                thedog.CheckInDate =  viewmodel.CheckInDate();
                thedog.CheckOutDate = viewmodel.CheckOutDate();
                thedog.CheckIn = ko.toJS(thedog.CheckInDate);
                thedog.CheckOut = ko.toJS(thedog.CheckOutDate);
                thedog.Type = viewmodel.appointmentType;

                if (thedog.Type === 0)
                    thedog.PaidHours = ko.toJS(viewmodel.presetHours);
                else
                    thedog.PaidHours = null;

                if (viewmodel.paidHours != null && thedog.type === 0) {
                     console.log("paid hours :" + thedog.paidHours + " VM paidhours : " + viewmodel.paidHours);
                    thedog.PaidHours = viewmodel.paidHours;
                }

                console.log("appointment type _ " + thedog.Type);
                if (thedog.Type === 0) {
                    var checkout = new Date( thedog.CheckIn).getHours()+ (viewmodel.paidHours * 60 * 60 * 1000);

                    console.log("compute checkout value :.>")
                    console.log(checkout);
                    thedog.CheckOut = null;
                    thedog.CheckOutDate = null;

                }

                // validate all
                var now = new Date();
                console.log("minutes!");
                console.log(now);
                now.setMinutes(now.getMinutes() - 3);

                console.log(now);
                console.log("checkout :" + moment(thedog.CheckOut));
                console.log("validation : " + moment(now));
                console.log(moment(thedog.CheckOut) < moment(now));
                if ( moment(thedog.CheckOut) < moment(now)) {
                    swal("Error", "please select a valid time for checkout!", "error");
                    return;
                }


                viewmodel.dogsForAppointment.push(thedog);
            }

        });
    }
    function ClearAppointmentsList() {
        swal({
            title: "Are you sure?",
            text: "Delete All Selected Dogs in appointment list!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                //Remove dogs checked
                var dogsForAppointment = viewmodel.dogsForAppointment();
                var dogsForDelete = viewmodel.dogsForDelete();
                var newDogs = dogsForAppointment.filter((dogFA) => {
                    return !dogsForDelete.some((dogSel) => {
                        return dogFA.Id == dogSel
                    });
                });
                viewmodel.dogsForAppointment(newDogs);
                viewmodel.dogsForDelete([]);
                $("#selectAll").prop("checked", false);
            swal("Deleted!", "...", "success");
        });
    }
    function ContainsDogId(array, id) {
        var contains = false;
        ko.utils.arrayForEach(array(), function (item) {
            if (item.Id === id) {
                contains = true;
            }
        });
        return contains;
    }

    function SaveAppointments() {


        var appointments = [];
        ko.utils.arrayForEach(viewmodel.dogsForAppointment(),
            function (item) {
                appointments.push(item);
            });
        if (appointments.length > 0) {
            var model = ko.toJSON(appointments);

            swal({
                title: "Save All Appointments",
                text: "continue?",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            },
                function () {
                    Loading()
                    $.ajax({
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        url: '@Url.Action("CreateAppointments", "Appointments")',
                        data: model,
                        success: OnAppointmentsCreated,
                        error: function (request, status, error) {
                            console.log(request);
                            console.log(status)
                            console.log(error);
                            swal("Error", request.responseText, "error");
                            Loading();
                        }
                    });
                });
        }
        else {
            swal("Error", "please add at least a dog in the queue", "error");
        }

    }

    function OnAppointmentsCreated(result) {
        Loading();
        console.log(result);
        if (result.success) {
            swal("OK", "Scheduled Sucessfully!", "success");
            viewmodel.dogsForAppointment([]);
        }
        else {
            var message = result.message !== '' ? result.message : "please provide a valid scheduled hours!";
            swal("Error...", message, "error");

            //viewmodel.dogsForAppointment(result.Pending);

        }

    }



    function applybindigs() {

        console.log("Try apply bindings");
        ko.applyBindings(viewmodel);
        $.get('@Url.Action("GetTypesByDescending", "Appointments")', function (types) {
            console.log(types);
            viewmodel.appointmentTypes(types);
            Loading();
        });
    };

    function Loading() {
        $('#iboxdogs').children('.ibox-content').toggleClass('sk-loading');
        $('#iboxdogs2').children('.ibox-content').toggleClass('sk-loading');

    }

    function LoadDogsForSelectedOwner(id) {
          console.log('ownerid: ' + id);
            // set value manually
            Loading();
            viewmodel.dogs([]);
            $.get('@Url.Action("GetDogsForOwner", "Appointments")' + "?ownerId=" + id, function (data) {
                for (var i = 0; i < data.length; i++) {
                    data[i].FullName = data[i].Name + ' ' + data[i].LastName;
                }
                console.log(data);
                viewmodel.dogs(data);
                Loading();
            });
    }
 

       
        /// on error ocurred on try to create a new dog
        function SomethingwentWrong() {

        }
        //OnDogCreated
        function OnDogCreated(result) {
            if (result.status == "ok") {

                swal("OK", "Created Sucessfully!", "success");
                viewmodel.ownerId = result.OwnerId;
                viewmodel.selectedDogId = result.DogId;
                $("#OwnerFirstName").val(result.OwnerName);
                $("#exampleModal").modal('hide');
                LoadDogsForSelectedOwner(result.OwnerId);
            }
            else {

                var message = result.message !== "" ? result.message : "please check the required fields!";

                swal("Error...", message, "error");
            }
            Loading();
        }

    $(function () {

        $("#paidHoursSection").fadeOut();
        ko.bindingHandlers.datepicker = {
            init: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                //initialize datepicker with some optional options
                 var now =new Date();
                var options = {

                    format: 'MM/DD/YYYY hh:mm A',
                    //startDate: now,
                    defaultDate: valueAccessor()(),
                };

                if (allBindingsAccessor() !== undefined) {
                    if (allBindingsAccessor().datepickerOptions !== undefined) {
                        options.format = allBindingsAccessor().datepickerOptions.format !== undefined ? allBindingsAccessor().datepickerOptions.format : options.format;
                    }
                }

                $(element).datetimepicker(options);

                //when a user changes the date, update the view model
                ko.utils.registerEventHandler(element, "dp.change", function (event) {
                    var value = valueAccessor();
                    if (ko.isObservable(value)) {
                        value(event.date);
                    }
                });

                var defaultVal = $(element).val();
                var value = valueAccessor();
                value(moment(defaultVal, options.format));
            },
            update: function (element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                var thisFormat = 'MM/DD/YYYY hh:mm A';

                if (allBindingsAccessor() !== undefined) {
                    if (allBindingsAccessor().datepickerOptions !== undefined) {
                        thisFormat = allBindingsAccessor().datepickerOptions.format !== undefined ? allBindingsAccessor().datepickerOptions.format : thisFormat;
                    }
                }

                var value = valueAccessor();
                var unwrapped = ko.utils.unwrapObservable(value());

                if (unwrapped === undefined || unwrapped === null) {
                    element.value = new moment(new Date());
                    console.log("undefined");
                } else {
                    element.value = unwrapped.format(thisFormat);
                }
            }
        };

        applybindigs();
        Loading();

        $('#OwnerFirstName').on('typeahead:selected', function (e, datum) {
            LoadDogsForSelectedOwner(datum.id);
        });

        if (!('@OwnerId'!==0)) {
            LoadDogsForSelectedOwner('@OwnerId');
        }
        $('#selectAll').on("change", function () {
            if ($(this).is(":checked")) {
                viewmodel.dogsForDelete(viewmodel.dogsForAppointment().map((obj) => obj.Id))
            }
            else {
                viewmodel.dogsForDelete([])
            }
        })
    });
</script>