﻿@model DogMode.Models.Appointment

@{
    ViewBag.Title = "Edit";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details </h5>
                </div>
                <div class="ibox-content">


                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Dog.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Dog.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Dog.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Dog.LastName)
                        </dd>
                        <dt>
                            @Html.Label("Breed")
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Dog.DogBreed.Name)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.CheckIn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CheckIn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CheckOut)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CheckOut)
                        </dd>

                    </dl>


                 

                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit </h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=> model.CreatedDate)
        @Html.HiddenFor(model=> model.OwnerSearchName)
        @Html.HiddenFor(model=> model.DogId)
        @Html.HiddenFor(model => model.Status)

       
        <div class="form-group">
            @Html.LabelFor(model => model.CheckIn, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckIn)
                @Html.ValidationMessageFor(model => model.CheckIn)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckOut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CheckOut)
                @Html.ValidationMessageFor(model => model.CheckOut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaidHours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaidHours)
                @Html.ValidationMessageFor(model => model.PaidHours)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


