﻿
@{
    ViewBag.Title = "Appointments";
}


@{
    ViewBag.Title = "Appointments";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loader",
        UpdateTargetId = "BookingListSection"
    };

    var name = Model != null ? Model.Name : AppConstants.ApplicationAdministratorTitle;

    var filterModel = new FilterOptionModel()
    {
        companyId = Model != null ? Model.Id : (int?)null,
        date = (DateTime?)null,
        end = (DateTime?)null,
        TodatyCheckoutAppointments = true,
    };
}
@model  Company

@Html.Partial("typeahead")

@Scripts.Render("~/plugins/knockout")
@Scripts.Render("~/plugins/slick")
@Styles.Render("~/plugins/slickStyles")
@Styles.Render("~/plugins/slickThemeStyles")



<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>QUEUES</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("Admin ", "Index", "Appointments")
            </li>
            <li class="active">
                <strong>QUEUES</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search QUEUES</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink(" ", "Add", "Appointments", null, new { @class = "btn btn-danger btn-circle btn-outline fa fa-plus" })
                    </div>
                </div>
                <div class="ibox-content text-center">
                    @Html.Partial("Partials/Filters",  filterModel)
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12" id="BookingListSection"></div>
        </div>

    </div>


    <script type="text/javascript">


    var pagelimit = 0;

        var viewmodel = {
            roles: ko.observableArray([]),
            types: ko.observableArray([]),
            statuses: ko.observableArray([]),
            keywords: ko.observable(),
            selectedType: ko.observable(),
            selectedStatus : ko.observable(),

        onSelectionChange: function () {
            $("#page").val('0');
            doSearch();
        },
        onSelectionStatusChange: function () {
            $("#page").val('0');
            doSearch();
        },

        cleanFilters: function () {

            //$("#page").val('0');
            $("#keywords").val('');
            $("#type").val(-1);
            $("#end").val('');
            $("#date").val('');
            doSearch();
        }

    };
    // Initialize

    function doSearch() {
        $("#searchbookingsform").submit();
    }

    $(function () {


        $.get('@Url.Action("Gettypes", "Appointments")', function (types) {
            viewmodel.types = types;
            applybindigs(types);
            $("#searchbookingsform").submit();
        });



    });
        function applybindigs(types) {

        console.log("Try apply bindings");
        viewmodel.types = types;
        ko.applyBindings(viewmodel);

         $.get('@Url.Action("GetStatuses", "Appointments")', function (statuses) {
            viewmodel.statuses( statuses);
        });

    };






           function activate(id) {
         swal({
                    title: "Activate Appointment?",
                    text: "Do you want activate this appointment ?!",
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#008000",
                    confirmButtonText: "Yes!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("UpdateStatus", "appointments")'+"?id="+id+"&status="+'@QueueStatus.Active', function (result) {

                                    console.log(result);
                                    if (result) {
                                        swal("Activated!", "the Appointment Has been Activated", "success");
                                        doSearch();
                                    }
                                    else {
                                        swal("Cancelled", "activation canceled due to pool area limit", "error");
                                    }
                                });

                            } else {
                                swal("Cancelled", "activation canceled", "error");
                            }
                        });
        }

           function deactivate(id) {
         swal({
                    title: "Complete Appointment?",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#008000",
                    confirmButtonText: "Yes!",
                    cancelButtonText: "No, cancel!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                        function (isConfirm) {
                            if (isConfirm) {
                                $.post('@Url.Action("UpdateStatus", "appointments")'+"?id="+id+"&status="+'@QueueStatus.Completed', function (data) {
                                    console.log("ok updated");
                                    console.log(data);
                                    doSearch();
                                });
                                swal("Completed!", "Checkout process completed!", "info");
                               
                            } else {
                                swal("Cancelled", "activation canceled", "error");
                            }
                        });
    }

    $(function () {



        //$('#CompanyName').on('typeahead:selected', function (e, datum) {
        //    console.log('companyID: ' + datum.id);
        //    // set value manually
        //    $("#CompanyToFilterId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});
        //$('#CampaignName').on('typeahead:selected', function (e, datum) {
        //    console.log('CampaignId: ' + datum.id);
        //    // set value manually
        //    $("#CampaignId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});
        //$('#CategoryName').on('typeahead:selected', function (e, datum) {
        //    console.log('CampaignId: ' + datum.id);
        //    // set value manually
        //    $("#BeaconId").val(datum.id);
        //    $("#searchbookingsform").submit();

        //});

    });

    </script>


    @Styles.Render("~/plugins/sweetAlertStyles")
    @Scripts.Render("~/plugins/sweetAlert")
    