﻿
<style>
    .project-people img {
        width: 80px;
        height: 80px;
    }
</style>

<table class="table table-hover">
    <thead>
        <tr>

            <th>
                <input type="checkbox" id="selectAll" />
            </th>
            <th>Dog </th>
            <th>Last Name</th>
            <th>Breed</th>
            <th>Check In.</th>
            <th>Check Out.</th>
            <th>Paid Hours</th>
            <th>
                Image
            </th>
            @*<th>Type</th>*@
           
        </tr>
    </thead>
    <tbody data-bind="foreach: dogsForAppointment">
        <tr>
            <td>
                <input type="checkbox" data-bind="value: Id,checked: $parent.dogsForDelete" />
            </td>
            <td data-bind="trimText: Name"></td>
            <td data-bind="trimText: LastName"></td>
            <td data-bind="text: DogBreeadForSearch"></td>
            
            <td data-bind="date: CheckInDate, dateFormat: 'DD/MM/YYYY H:mm:ss'"></td>
                
            <td data-bind="date: CheckOutDate, dateFormat: 'DD/MM/YYYY H:mm:ss'"></td>
            
            <td data-bind="text: PaidHours"></td>
            
            <td class="project-people">
                 <img alt="image" class="img-circle" data-bind="safeSrc: {src: Image, fallback: 'https://dogmode.blob.core.windows.net/images/animal-paw-print.png'}"> 
               
            </td>
            @*<td data-bind="text: Type"></td>
    <td><a href="#"><i class="fa fa-times-circle text-navy"></i></a></td>*@
        </tr>
 
    </tbody>
</table>