﻿
@{
    Layout = null;
}
@model FilterOptionModel 

<div class="row">
    @using (Ajax.BeginForm("SearchAsync", "Appointments", null, new AjaxOptions
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "BookingListSection",

    }, new { id = "searchbookingsform" }))
    {
        
        
        <div class="col-sm-2">
            <select class="input-sm form-control input-s-sm inline" id="type" name="type" data-bind="
                                    options: types,
                                    optionsText: 'Name',
                                    value : selectedType,
                                    optionsValue: 'Id',event:{ change: onSelectionStatusChange},
                                    optionsCaption: 'Queues (All)' "></select>
        </div>
        <div class="col-sm-2">
            <select class="input-sm form-control input-s-sm inline" id="QueueStatus" name="QueueStatus" data-bind="
                                    options: statuses,
                                    optionsText: 'Name',
                                    value : selectedStatus,
                                    optionsValue: 'Id',event:{ change: onSelectionStatusChange},
                                    optionsCaption: 'Status (All)' "></select>
        </div>
        <div class="col-sm-2">
            <div class='input-group date nullabledatetimepicker'>

                @Html.TextBoxFor(model => model.date, new { @class = "form-control" ,placeholder="Check In Time"})
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span> 
            </div>
            </div>
            <div class="col-sm-2">
                <div class='input-group  EndDatenullabledatetimepicker'>

                    @Html.TextBoxFor(model => model.end, new { @class = "form-control",placeholder="Check out Time" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <script type="text/javascript">
                        $(function () {
                            var dateformat = '@AppConstants.DateTimeFormat';
                            var endDate = new Date();
                            var startDate = new Date();

                            $('.EndDatenullabledatetimepicker').datetimepicker({
                                format: dateformat,
                                 focusOnShow: true,
                                 //defaultDate: endDate.setHours(24,0,0,0),

                            });
                            $('.nullabledatetimepicker').datetimepicker({
                                format: dateformat,
                                focusOnShow: true,
                                //defaultDate: startDate.setHours(0,0,0,0),

                            });
                        });
                    </script>
                </div>
            </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control" id="keywords" name="keywords" data-bind="value:keywords">
                
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary"> Go!</button>
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-danger inline" data-bind="click:cleanFilters">
                        <i class="fa fa-close"></i>
                    </button>
                </span>
            </div>
        </div>
        @*<div class="col-sm-2">
            <button class="btn btn-sm btn-danger inline" data-bind="click:cleanFilters">
                <i class="fa fa-close"></i>
            </button>

        </div>*@



    }

</div>

