﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Appointment>

@{
    Layout = null;
    var filter = (string)ViewBag.FilterModel;
    var sortOrder = (string)ViewBag.SortOrder;
    var currentColumnOrder = (string)ViewBag.CurrentColumnSort;

    var options = new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" };
}

 

 
    <div class="row animated fadeInLeft">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                   
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Ajax.ActionLink("Check In", "Sort", new { filter = filter, columnName = "CheckIn", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                    </th>

                                    <th>

                                        @Ajax.ActionLink("Check Out", "Sort", new { filter = filter, columnName = "Checkout", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                    </th>
                                    <th>

                                        @Ajax.ActionLink("Dog Name", "Sort", new { filter = filter, columnName = "Dog.Name", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                    </th>
                                    <th>

                                        @Ajax.ActionLink("Dog Owner", "Sort", new { filter = filter, columnName = "Dog.LastName", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                    </th>
                                    <th data-label="Type">
                                        @Ajax.ActionLink("Type", "Sort", new { filter = filter, columnName = "Type", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)

                                    </th>
                                    <th data-label="Status">
                                        @Ajax.ActionLink("Status", "Sort", new { filter = filter, columnName = "Status", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                    </th>
                                    <th data-label="Actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (var item in Model)
                                {
                                    <tr>
                                         
                                        <td data-label="Check In">
                                            @Html.DisplayFor(modelItem => item.CheckIn)
                                        </td>

                                        <td data-label="Check Out">
                                            @Html.DisplayFor(modelItem => item.CheckOut)
                                        </td>
                                        <td data-label="Dog Name">
                                            @string.Format("{0} {1}", @Shared.formatedName(item.Dog.Name), @Shared.formatedName(item.Dog.LastName))
                                        </td>

                                        <td data-label="Owner">
                                            @string.Format("{0} {1}",item.Dog.DogOwner.Name,item.Dog.DogOwner.LastName)
                                        </td>
                                        <td data-label="Type">
                                            @Html.DisplayFor(modelItem => item.Type)
                                        </td>
                                        <td data-label="Status">

                                            <span class="label label-@item.Status.ToBootstrapLabelType()">@item.Status</span>

                                        </td>
                                        <td >
                                            @if(item.Status== QueueStatus.Pending)
                                        {
                                        <button class="btn btn-info btn-circle" onclick="activate('@item.Id')">
                                            <i class="fa fa-check"></i>
                                        </button>
                                        }

                                            @if (item.Status == QueueStatus.Active)
                                        {
                                        <button class="btn btn-danger btn-circle" onclick="deactivate('@item.Id')">
                                            <i class="fa fa-times"></i>
                                        </button>
                                        }
                                            @if (item.Status == QueueStatus.Completed)
                                        {
                                        <button class="btn btn-default btn-circle" type="button" disabled>
                                            <i class="fa fa-check"></i>
                                        </button>
                                        }
                                            @Html.ActionLink(" ", "Edit", new { id = item.Id },new {@class = "btn btn-success btn-circle btn-outline fa fa-paste"})
                                            @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-circle btn-outline fa fa-trash-o" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="pager-num">
                                    @Html.PagedListPager(Model, page => Url.Action("Search", new { filterdata = filter, page, columnName = currentColumnOrder, sortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" }))
                                </div>
                                <div class="pager-text">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
 
