﻿@model DogMode.Models.Dog

@{
    ViewBag.Title = "Delete";
    var errormessage = !string.IsNullOrEmpty(ViewBag.Error) ? (string)ViewBag.Error : string.Empty;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Delete</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Delete</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dog</h5>
                </div>
                <div class="ibox-content">
				<h4 class="text-danger">Are you sure you want to delete this?</h4>
                <h5 class="text-danger">@errormessage</h5>
               
                    <dl class="dl-horizontal">


                        <dt>
                            <label>Image</label>
                        </dt>
                        <dd>

                            <img id="thumb" class="img-thumbnail" style="max-height: 175px" src='@Model.Image' />
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DogBreedId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DogBreed.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastUpdate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastUpdate)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DogOwnerId)
                        </dt>

                        <dd>
                            <label>@string.Format("{0} {1}", Model.DogOwner?.Name, Model.DogOwner?.LastName)</label>
                        </dd>

                    </dl>
        

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})
        </div>
    }



                </div>
            </div>
        </div>
    </div>
 </div>


<script type="text/javascript">
        $(document).ready(function () {

            $("#thumb").attr("src", '@Model.Image');


        });


</script>

