﻿@model DogMode.Models.Dog

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dog Details</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">


                        <dt>
                            <label>Image</label>
                        </dt>
                        <dd>

                            <img id="thumb" class="img-thumbnail" style="max-height: 175px"  src='@Model.Image' onerror="this.onerror=null;this.src='https://dogmode.blob.core.windows.net/images/animal-paw-print.png'"/>
                        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogBreedId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogBreed.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.DogOwnerId)
        </dt>

        <dd>
            <label>@string.Format("{0} {1}",Model.DogOwner.Name,Model.DogOwner.LastName)</label>
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>

<script type="text/javascript">
        $(document).ready(function () {

            $("#thumb").attr("src", '@Model.Image');
           

        });


</script>











