﻿@model DogMode.Models.Dog

@{
    var PageLabel = "";
    ViewBag.Title = PageLabel = Model?.Id==0? "Add": "Edit";
}
@Html.Partial("typeahead")
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@PageLabel</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>@PageLabel</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">

                        <h5> <small>Dog Picture</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            @*<a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>*@
                            @*<ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="#">Config option 1</a>
                                </li>
                                <li>
                                    <a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>*@
                        </div>
                    </div>
                    <div class="ibox-content">

                        <form id="uploader" class="dropzone" action="@Url.Action("Upload", "FileUpload")" method="post"
                              enctype="multipart/form-data">
                            <div class="dropzone-previews"></div>
                            <button type="submit" class="btn btn-primary pull-right">Save Picture!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox-content">
                    <img id="thumb" class="img-thumbnail" style="max-height: 175px" onerror="this.onerror=null;this.src='https://dogmode.blob.core.windows.net/images/animal-paw-print.png'"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@string.Format("{0} Dog",PageLabel)</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model=> model.Icon)
        @Html.HiddenFor(model=> model.Image)
        @Html.HiddenFor(model=> model.CreatedDate)
        @Html.HiddenFor(model=> model.LastUpdate)
        

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DogBreedId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.AutocompleteFor(model => model.DogBreeadForSearch, model => model.DogBreedId, "GetBreeds", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Search Dog Breed" } })
                @Html.HiddenFor(model => model.DogBreedId)
                @Html.ValidationMessageFor(model => model.DogBreedId)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.LastUpdate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastUpdate)
                @Html.ValidationMessageFor(model => model.LastUpdate)
            </div>
        </div>*@
@*
     <div class="form-group">
         @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Image)
             @Html.ValidationMessageFor(model => model.Image)
         </div>
     </div>

    <div class="form-group">
         @Html.LabelFor(model => model.Icon, new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @Html.EditorFor(model => model.Icon)
             @Html.ValidationMessageFor(model => model.Icon)
         </div>
     </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DogOwnerId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                

                 @Html.AutocompleteFor(model => model.DogOwnerForSearch, model => model.DogOwnerId, "GetOwner", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Search By Dog Owner Name" } })
                @Html.HiddenFor(model=> model.DogOwnerId)
                @Html.ValidationMessageFor(model => model.DogOwnerId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dropZone")
    <style>
        .dropzone {
            min-height: 180px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#thumb").attr("src", $("#Image").val());
            Dropzone.options.uploader = {

                autoProcessQueue: false,
                parallelUploads: 1,
                maxFiles: 1,
                paramName: "files",

                // Dropzone settings
                init: function () {
                    var myDropzone = this;

                    this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function () {
                    });
                    this.on("successmultiple", function (files, response) {
                        console.log(files);
                        console.log(response);
                        console.log("updated");

                    });
                    this.on("success", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                        console.log(res);
                        console.log(res.Message)
                        $("#Image").val(res.Message);
                        $("#thumb").attr("src", res.Message);
                    });
                    this.on("errormultiple", function (files, response) {
                    });
                }

            }



        });


    </script>
}
