﻿ @model  Dog
     @{ 
         Layout = null;
         var options = new AjaxOptions()
         {
             HttpMethod ="post",
             OnBegin="Loading",
             OnSuccess="OnDogCreated",
             OnFailure="SomethingwentWrong"
         };
     }

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Add New Dog</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-8">

                        <form id="uploader" class="dropzone" action="@Url.Action("Upload", "FileUpload")" method="post"
                              enctype="multipart/form-data">
                            <div class="dropzone-previews"></div>
                            <button id="submituploadbutton" type="submit" class="btn btn-primary pull-right" disabled  >Save Picture!</button>
                        </form>
                    </div>
                    <div class="col-md-4">
                        
                        <div class="row">

                            <img id="thumb" class="img-thumbnail" style="max-height: 175px" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    @using (Ajax.BeginForm("CreateNewDog","Appointments",options))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)

            @Html.HiddenFor(model=> model.CreatedDate)
            @Html.HiddenFor(model=> model.Icon)
            @Html.HiddenFor(model=> model.Image)
            @Html.HiddenFor(model=> model.LastUpdate)


            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DogBreedId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.AutocompleteFor(model => model.DogBreeadForSearch, model => model.DogBreedId, "GetBreeds", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Search Dog Breed" } })
                    @Html.HiddenFor(model => model.DogBreedId)
                    @Html.ValidationMessageFor(model => model.DogBreedId)
                </div>
            </div>
            <div class="form-group">
                <ul class="nav" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">With Existing Owner?</a></li>
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Name to Add New Owner</a></li>

                </ul>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DogOwnerId, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">


                            @Html.AutocompleteFor(model => model.DogOwnerForSearch, model => model.DogOwnerId, "GetOwner", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Type the Owner Name" } })
                            @Html.HiddenFor(model => model.DogOwnerId)
                            @Html.ValidationMessageFor(model => model.DogOwnerId)
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="form-group">
                        @Html.LabelFor(model => model.DogOwner.Name, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DogOwner.Name)
                            @Html.ValidationMessageFor(model => model.DogOwner.Name)
                        </div>
                    </div>

                </div>
            </div>




        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
}
                </div>
            </div>
        </div>
    </div>
</div>


