﻿
@{
    Layout = null;
}
@model   FilterOptionModel
@using (Ajax.BeginForm("SearchAync", "Statistics", null, new AjaxOptions
{
    HttpMethod = "post",
    InsertionMode = InsertionMode.Replace,
    LoadingElementId = "loaderSection",
    UpdateTargetId = "tablecontainer",

}, new { id = "searchstatisticsform" }))
{
    
                           
 
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="product_name">Titulo</label>
            
            @Html.EditorFor(m=> m.keywords)
        </div>
    </div>
    @*<div class="col-sm-3">
        <div class="form-group">
            <label class="control-label" for="price">Number of Views</label>
            
            @Html.EditorFor(m=> m.Limit)
        </div>
    </div>*@
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="quantity">Inicio</label>
          
            @Html.EditorFor(m=> m.time)

        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="status">Estado</label>
             
            @Html.DropDownListFor(m=> m.FeedStatus ,CollectionExtensions.FeedStatuses,new { @class="form-control",onchange= "refreshGrid();"})
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label class="control-label" for="status">Categoria</label>

            @Html.DropDownListFor(m => m.CategoryId, ((IEnumerable<SelectListItem>) ViewBag.Categories), new { @class = "form-control", onchange="refreshGrid();" })
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">

            <button type="submit" id="loading-example-btn" class="btn btn-sm btn-success"><i class="fa fa-refresh"></i> </button>
        </div>

    </div>
</div>

}
 
