﻿@{ 
    Layout = null;
}
@model IEnumerable<StatisticsViewModel>
<table class="table small m-t-sm">
    @foreach(var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    <strong>@item.ViewCounts </strong>
                    @item.Title
                </td>
            </tr>
        </tbody>
    }
    @*<tbody>
        <tr>
            <td>
                <strong>142</strong> Projects

            </td>
            <td>
                <strong>22</strong> Messages
            </td>

        </tr>
        <tr>
            <td>
                <strong>61</strong> Comments
            </td>
            <td>
                <strong>54</strong> Articles
            </td>
        </tr>
        <tr>
            <td>
                <strong>154</strong> Companies
            </td>
            <td>
                <strong>32</strong> Clients
            </td>
        </tr>
    </tbody>
</table>*@