﻿@using PagedList.Mvc;
@model PagedList.IPagedList<StatisticsViewModel>

@{
    Layout = null;
    var filter = (string)ViewBag.FilterModel;
    var sortOrder = (string)ViewBag.SortOrder;
    var currentColumnOrder = (string)ViewBag.CurrentColumnSort;

    var options = new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "tablecontainer", LoadingElementId = "loaderSection" };
}

<table class="table table-striped">
    <tr>
        <th>
            @Ajax.ActionLink("ID", "Sort", new { filter = filter, columnName = "FeedId", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        <th>
            @Ajax.ActionLink("Titulo", "Sort", new { filter = filter, columnName = "Title", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        @*<th>
            @Ajax.ActionLink("Author", "Sort", new { filter = filter, columnName = "Author", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>*@
        <th>

            @Ajax.ActionLink("Fecha Inicio", "Sort", new { filter = filter, columnName = "DateStart", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        <th>

            @Ajax.ActionLink("Fecha Final", "Sort", new { filter = filter, columnName = "DateEnd", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        <th>
            @Ajax.ActionLink("Categoria","Sort",new { filter= filter, columnName = "CategoryId", sortOrder = sortOrder, currentColumn = currentColumnOrder },options)
        </th>
        @*<th>
            @Ajax.ActionLink("Conteo Vistas", "Sort", new { filter = filter, columnName = "ViewCounts", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        <th>
            @Ajax.ActionLink("Valoration Counts", "Sort", new { filter = filter, columnName = "ValorationsCount", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>
        <th>
            @Ajax.ActionLink("Valorations", "Sort", new { filter = filter, columnName = "HasValorations", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
        </th>*@
    </tr>


    <tbody>
       
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=> item.FeedId)</td>
                <td>@Html.DisplayFor(modelItem=> item.Title)</td>
                @*<td>@Html.DisplayFor(modelItem => item.Author)</td>*@
                <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                <td>@Html.DisplayFor(modelItem => item.DateEnd)</td>
                <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                @*<td>@Html.DisplayFor(modelItem => item.ViewCounts)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorationsCount)</td>*@
                @*<td>
                    @if (item.HasValorations)
                    {
                        <p><span class="badge">@item.OptionCount1</span><small> @item.OptionLabel1 </small> </p>
                        <p><span class="badge">@item.OptionCount2</span><small> @item.OptionLabel2 </small> </p>
                        <p><span class="badge">@item.OptionCount3</span><small> @item.OptionLabel3 </small> </p>
                        <p><span class="badge">@item.OptionCount4</span><small> @item.OptionLabel4 </small> </p>
                        <p><span class="badge">@item.OptionCount5</span><small> @item.OptionLabel5 </small> </p>
                *@

                            @*<table class="table table-stripped small m-t-md">
                                <tbody>
                                    <tr>
                                        <td class="no-borders">
                                            <i class="fa fa-circle text-navy"></i>
                                        </td>
                                        <td class="no-borders">
                                            Example element 1
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-circle text-navy"></i>
                                        </td>
                                        <td>
                                            Example element 2
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-circle text-navy"></i>
                                        </td>
                                        <td>
                                            Example element 3
                                        </td>
                                    </tr>
                                </tbody>
                            </table>*@
                @*        
                     
                    }
                </td>*@
            </tr>
        }
    </tbody>
</table>

<div class="row">
    <div class="col-lg-12 text-right">
        <div class="pager-num">
            @Html.PagedListPager(Model, page => Url.Action("SearchFeeds", new { filterdata = filter, page, columnName = currentColumnOrder, sortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tablecontainer", LoadingElementId = "loaderSection" }))
        </div>
        <div class="pager-text">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
    </div>
</div>
