﻿<!DOCTYPE html>
<html lang="es-sv">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title | @AppConstants.ApplicationName</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}
     
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.min.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->     
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval-unobtrusive")
    @Scripts.Render("~/bundles/datetimepicker")
    @Styles.Render("~/bundles/datetimepickerStyles")

    @*@Scripts.Render("~/plugins/dataPicker")
    @Styles.Render("~/plugins/dataPickerStyles")*@

</head>
<body class="md-skin fixed-sidebar pace-done fixed-nav">

    <!-- Skin configuration box -->
    @*@Html.Partial("_SkinConfig")*@

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <div id="wrapper" class="@Html.PageClass()">

        <!-- Navigation -->
        @Html.Partial("_Navigation")

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

            <!-- Top Navbar -->
            @Html.Partial("_TopNavbar")

            <!-- Main view  -->

            <div id="loaderSection" class="sk-spinner sk-spinner-double-bounce" style="display: none; left:50%; top:50%;z-index:100000;position:fixed">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
            @RenderBody()
            
            <!-- Footer -->
            @Html.Partial("_Footer")

        </div>
        <!-- End page wrapper-->

        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>
    <!-- End wrapper-->

    <!-- Section for main scripts render -->
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    
    @*@Styles.Render("~/plugins/dataPickerStyles")*@
    <!-- Skin config script - only for demo purpose-->
    @*@Scripts.Render("~/bundles/skinConfig")*@

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
 <script>
    //$(function () {
    //    $.validator.methods.date = function (value, element) {
    //        Globalize.culture("en-US");
    //        return this.optional(element) || moment(value, "DD.MM.YYY", true).isValid();
    //    }
   // })
 </script>

