﻿@using Microsoft.AspNet.Identity
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    @*<span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>*@
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@User.Identity.GetUserName() </strong>
                            </span> 
                            <span class="text-muted text-xs block">Admin<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>

                            @Html.ActionLink("My Account ", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li class="divider"></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                   @AppConstants.ApplicationName
                </div>
            </li>

            @*<li class="@Html.IsSelected(controller: "Statistics")">
                <a href="@Url.Action("Index", "Statistics")" onclick="showLoader()" ><i class="fa fa-area-chart"></i>&nbsp;STATISTICS</a>
            </li>*@

            <li class="@Html.IsSelected(controller: "Account")">
                <a href="@Url.Action("AccountMangement", "Account")" onclick="showLoader()"><i class="fa fa-user"></i>&nbsp; USERS</a>
            </li>

            @*<li class="@Html.IsSelected(controller: "Appointments")">
                <a href="@Url.Action("QUEUE", "Appointments")" onclick="showLoader()"><i class="fa fa-calendar-plus-o"></i>&nbsp;QUEUE</a>
            </li>*@

            <li class="@Html.IsSelected(controller: "Appointments")">
                <a href="@Url.Action("Index", "Appointments")" onclick="showLoader()"><i class="fa fa-calendar-check-o"></i>&nbsp; QUEUES</a>
            </li>
            <li class="@Html.IsSelected(controller: "Dog")">
                <a href="@Url.Action("Index", "Dog")" onclick="showLoader()"><i class="fa fa-server"></i>&nbsp;DOGS</a>
            </li>
            <li class="@Html.IsSelected(controller: "DogOwner")">
                <a href="@Url.Action("Index", "DogOwner")" onclick="showLoader()"><i class="fa fa-server"></i>&nbsp;DOG OWNERS</a>
            </li>
            <li class="@Html.IsSelected(controller: "Breeds")">
                <a href="@Url.Action("Index", "Breeds")" onclick="showLoader()"><i class="fa fa-copyright"></i>&nbsp;BREEDS</a>
            </li>
            @*
            <li class="@Html.IsSelected(controller: "Categories")">
                <a href="@Url.Action("Index", "Categories")" onclick="showLoader()"><i class="fa fa-cubes"></i>&nbsp;CATEGORIAS</a>
            </li>

            <li class="@Html.IsSelected(controller: "Campaign")">
                <a href="@Url.Action("Index", "Campaign")" onclick="showLoader()"><i class="fa fa-file-text-o"></i>&nbsp;CAMPAÑAS</a>
            </li>

            <li class="@Html.IsSelected(controller: "Beacons")">
                <a href="@Url.Action("Index", "Beacons")" onclick="showLoader()"><i class="fa fa-bluetooth"></i>&nbsp;BEACONS</a>
            </li>

            <li class="@Html.IsSelected(controller: "Feeds")">
                <a href="@Url.Action("Index", "Feeds")" onclick="showLoader()"><i class="fa fa-bullhorn"></i>&nbsp;ANUNCIOS</a>
            </li>*@
            
        </ul>
    </div>
</nav>

<div style="visibility:hidden">

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
</div>

<script type="text/javascript">
    function showLoader() {
        $("#loaderSection").fadeIn();
    }
    function hideLoader() {
        $("#loaderSection").fadeOut();
    }

    function Logout() {
        $("logoutForm").submit();
    }
</script>