﻿@{
    Layout = null;
}
 @model Feed

<div class="row animated fadeInDown">
    <div class="col-lg-12">


        <div class="ibox product-detail">
            <div class="ibox-title">
                <span class="pull-right">
                    <i class="fa fa-clock-o"></i> @Model.LastUpdate
                </span>
                @if (Model.Status == FeedStatus.Pending)
                {
                    <span class="label label-warning">
                        Pending
                        <i class="fa fa-warning"></i>
                    </span>
                }
                else if (Model.Status == FeedStatus.Active)
                {

                    <span class="label label-success">
                        Active
                        <i class="fa fa-check"></i>
                    </span>
                }
                else if (Model.Status == FeedStatus.Inactive)
                {
                    <span class="label label-danger">
                        Inactive
                        <i class="fa fa-times"></i>
                    </span>

                }
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-md-5">
                        <div class="feed-image">
                            <img src="@Model.Image" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="social-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="~/Images/a6.jpg">
                            </a>
                            <div class="media-body">
                                <a href="#">
                                    @if (Model.User != null)
                                    {
                                        @*<button class="btn btn-info btn-xs" onclick="ShowUserDetails('@item.IdPublisher')">
                                                @item.User.FirstName
                                            </button>*@
                                        @Model.User.FirstName @Model.User.LastName
                                    }
                                    else
                                    {
                                        <strong>--</strong>
                                    }
                                </a>
                            </div>
                        </div>

                        <h2 class="font-bold m-b-xs">
                            @Model.Title
                        </h2>
                        <hr>

                        <h4>Descripttion</h4>

                        <div class="small text-muted">
                            @Model.Content

                            <br />
                            <br />

                        </div>
                        <dl class="small m-t-md">
                            <dt>@Html.LabelFor(modelitem => Model.Status)</dt>
                            <dd>  @Model.Status.ToString().ToUpper()</dd>
                            <dt>@Html.LabelFor(m => m.DateStart) <span class="fa fa-clock-o"></span> @Model.DateStart</dt>
                            <dt>@Html.LabelFor(m => m.DateEnd) <span class="fa fa-clock-o"></span> @Model.DateEnd</dt>
                            <dt>@Html.LabelFor(m => m.Category)</dt>
                            <dd> @Model.Category.Name.ToUpper()</dd>

                        </dl>
                        <hr>

                        <div>
                            <div class="btn-group">
                                @*<button class="btn btn-white btn-sm" onclick="sendPushNotification('@Model.Id')"><i class="fa fa-envelope"></i> Send Push Notification</button>*@
                                <a class="btn btn-primary btn-sm" href="@Url.Action("Edit","Feeds",new { id = Model.Id })">
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </a>

                                @*@if (Model.Status == FeedStatus.Pending)
                                {
                                    <button class="btn btn-success btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Active')">
                                        Activate
                                        <i class="fa fa-star"></i>
                                    </button>

                                        <button class="btn btn-warning btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Inactive')">
                                            Deactivate
                                            <i class="fa fa-star-o  "></i>
                                        </button>
                                }
                                else if (Model.Status == FeedStatus.Active)
                                {

                                    <button class="btn btn-white btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Inactive')">
                                        Deactivate
                                        <i class="fa fa-star-o  "></i>
                                    </button>
                                        <button class="btn btn-white btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Pending')">Pending</button>
                                }
                                else if (Model.Status == FeedStatus.Inactive)
                                {
                                    <button class="btn btn-white btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Active')">
                                        Active
                                        <i class="fa fa-star"></i>
                                    </button>

                                        <button class="btn btn-white btn-sm" onclick="UpdateStatus('@Model.Id','@FeedStatus.Pending')">
                                            Pending
                                        </button>

                                }*@

                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <div class="ibox-footer">
                <span class="pull-right">
                    <i class="fa fa-clock-o"></i> @Model.LastUpdate
                </span>
               @if (Model.Status == FeedStatus.Pending)
               {
                <span class="label label-warning">
                    Pending
                    <i class="fa fa-warning"></i>
                </span>
               }
               else if (Model.Status == FeedStatus.Active)
               {

                <span class="label label-success">
                    Active
                    <i class="fa fa-check"></i>
                </span>
               }
               else if (Model.Status == FeedStatus.Inactive)
               {
                <span class="label label-danger">
                    Inactive
                    <i class="fa fa-times"></i>
                </span>

               }
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var logoHeight = $('.feed-image img').height();
    if (logoHeight < 374) {
        var margintop = (374 - logoHeight) / 2;
        $('.feed-image img').css('margin-top', margintop);
    }
</script>