﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Feed>

@{
    Layout = null;
    var filter = (string)ViewBag.FilterModel;
    var sortOrder = (string)ViewBag.SortOrder;
    var currentColumnOrder = (string)ViewBag.CurrentColumnSort;

    var options = new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" };
}

 

 
    <div class="row animated fadeInLeft">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                   
                </div>
                <div class="ibox-content">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                @*<th>
                            @Html.DisplayNameFor(model => model.LastUpdate)
                        </th>*@
                                <th>
                                    @Ajax.ActionLink("Title", "Sort", new { filter = filter, columnName = "Title", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                
                                <th>

                                    @Ajax.ActionLink("Inicio", "Sort", new { filter = filter, columnName = "DateStart", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                <th>

                                    @Ajax.ActionLink("Final", "Sort", new { filter = filter, columnName = "DateEnd", sortOrder = sortOrder, currentColumn = currentColumnOrder }, options)
                                </th>
                                <th>
                                    @Html.Label("Categoria")
                                </th>
                                
                                <th>
                                    @Html.Label("Empresa")
                                </th>
                                <th>
                                    @Html.Label("Campaña")
                                </th>
                                <th>
                                    @Html.Label("Status")
                                </th>
                                <th>Actions</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                @Html.DisplayFor(modelItem => item.LastUpdate)
                            </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateStart)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateEnd)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    @if (item.Campaing != null && item.Campaing.Company!=null )
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Campaing.Company.Name)
                                            
                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }

                                    @if (item.Campaing != null)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Campaing.Name)

                                        </td>
                                    }
                                    else
                                    {
                                        <td>-</td>
                                    }
                                    <td>
                                        @if (item.Status == FeedStatus.Pending)
                                        {
                                            <span class="label label-warning">
                                                Pending
                                                <i class="fa fa-warning"></i>
                                            </span>
                                        }
                                        else if (item.Status == FeedStatus.Active)
                                        {

                                            <span class="label label-success">
                                                Active
                                                <i class="fa fa-check"></i>
                                            </span>
                                        }
                                        else if (item.Status == FeedStatus.Inactive)
                                        {
                                            <span class="label label-danger">
                                                Inactive
                                                <i class="fa fa-times"></i>
                                            </span>

                                        }
                                    </td>
                                    <td>
                                        @*<button class="btn btn-white btn-sm" onclick="sendPushNotification('@item.Id')"><i class="fa fa-envelope"></i> Push</button>*@
                                        @Ajax.ActionLink("Detalles", "Details", new { id = item.Id }, new AjaxOptions()
                               {
                                   HttpMethod = "Post",
                                   LoadingElementId = "loaderSection",
                                   UpdateTargetId = "BookingListSection",


                               },
                               new { @class = "btn btn-primary btn-sm" })
                                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-white btn-sm" })
                                    </td>
                                </tr>
                            }

                        </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <div class="pager-num">
                                    @Html.PagedListPager(Model, page => Url.Action("SearchFeeds", new { filterdata = filter, page, columnName = currentColumnOrder, sortOrder }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "BookingListSection", LoadingElementId = "loaderSection" }))
                                </div>
                                <div class="pager-text">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                            </div>
                        </div>
                    </div>
                </div>
           
        </div>
    </div>
 
