﻿@model  IdentityUserViewModel


@{
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "tablecontainer"
    };
}


<div class="wrapper wrapper-content animated flipInX">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>User Identity</h5>
                </div>
                <div class="ibox-content">

                    @using (Ajax.BeginForm("UpdateApplicationUser", "Account", options))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(false)
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model=> model.UserName)
                            @Html.HiddenFor(model=> model.ProfilePicture)
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UserName)
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>*@


                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email)
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            @*<div class="form-group">
                                @Html.LabelFor(model => model.ProfilePicture, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProfilePicture)
                                    @Html.ValidationMessageFor(model => model.ProfilePicture)
                                </div>
                            </div>*@


                            @*<div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PhoneNumber)
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                            </div>*@

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FirstName)
                                    @Html.ValidationMessageFor(model => model.FirstName)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName)
                                    @Html.ValidationMessageFor(model => model.LastName)
                                </div>
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address)
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>*@
                          
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Role, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.Role, (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Role)
                                    </div>
                                </div>

                                @*if (Model.CompanyId != 0)
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">

                                            @Html.DisplayFor(model=> model.CompanyNameForAutoComplete)
                                           
                                        </div>
                                    </div>
                                }

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyId, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        
                                        @Html.AutocompleteFor(model => model.CompanyNameForAutoComplete, model => model.CompanyId, "GetCompaniesForAutoComplete", "TypeAhead", false, new { htmlAttributes = new { placeholder = "Nombre de Compañia" } })
                                        @Html.ValidationMessageFor(model => model.CompanyId)
                                    </div>
                                </div>*@
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.ForceChangePassword, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">

                                    @Html.CheckBoxFor(model => model.ForceChangePassword,
                                            htmlAttributes:
                                                new
                                                {
                                                    @class = "js-switch_3",
                                                    data_toggle = "collapse",
                                                    data_target = "#collapseExample",
                                                    aria_expanded = "false",
                                                    aria_controls = "collapseExample",
                                                })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Password)
                                                @Html.ValidationMessageFor(model => model.Password)
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


 


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    @Ajax.ActionLink("Cancel", "AccountMangement", null, options, new { @class = "btn btn-white" })
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/typeahead.bundle.min.js"></script>
<script src="~/Scripts/typeahead.jquery.min.js"></script>
<script src="~/Scripts/typeahead.mvc.model.js"></script>
