﻿@model IEnumerable<IdentityUserViewModel>
@{
    Layout = null;
    var options = new AjaxOptions()
    {
        HttpMethod = "post",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loaderSection",
        UpdateTargetId = "tablecontainer"
    };
}

<div class="animation fadeInLeft">


    <table class="table table-striped">
        <tr>

            <th>
                First Name 
            </th>

            <th>
                Last Name
            </th>
            <th>
                Email
            </th>

            

            <th></th>
        </tr>

        @foreach (var item in Model)
    {
        {
            var lastName = item.LastName ?? " ";
        }
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                 

                <td>
                    @Ajax.ActionLink("Details", "ApplicationUserDetails", "Account", new { id = item.Id }, options, new { @class = "btn btn-primary btn-sm" })
                    @if (User.IsInRole("Admin"))
                {
                        @Ajax.ActionLink("Edit", "EditApplicationUser", "Account", new { id = item.Id }, options, new { @class = "btn btn-white btn-sm" })
                        @Ajax.ActionLink("Delete", "DeleteUser", "Account", new { id = item.Id }, options, new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
    }

    </table>
</div>


@*@foreach (var item in Model)
{
    {
        var lastName = item.LastName ?? " ";
    }
    <div class="col-lg-3">
        <div class="contact-box center-version animated flip">

            <div >

                <img alt="image" class="img-circle" style="max-height:50px; max-width:50px" src="@item.ProfilePictureDefault">


                <h3 class="m-b-xs"><strong>@Html.DisplayFor(modelItem => item.FirstName)  </strong></h3>
                @if (!string.IsNullOrEmpty(item.LastName))
                {
                    <h3 class="m-b-xs"><strong>@Html.DisplayFor(modelItem => item.LastName)</strong></h3>
                }
                else
                {
                    <h3 class="m-b-xs"><strong>_</strong></h3>
                }

                <div class="font-bold">@Html.DisplayFor(modelItem => item.Role)</div>
                <address class="m-t-md">
                    <strong>@Html.DisplayFor(modelItem => item.Email)</strong><br>
                    <abbr title="Phone">P:</abbr> @Html.DisplayFor(modelItem => item.Phone_2)
                </address>

            </div>
            <div class="contact-box-footer">
                <div class="m-t-xs btn-group">
                    @Ajax.ActionLink(" Detalles", "ApplicationUserDetails", "Account", new { id = item.Id }, options, new { @class = "btn btn-xs btn-white fa fa-paste" })
                    @if (User.IsInRole("Admin"))
                    {
                        @Ajax.ActionLink(" Editar", "EditApplicationUser", "Account", new { id = item.Id }, options, new { @class = "btn btn-xs btn-white fa fa-check" })
                    }

                </div>
            </div>

        </div>
    </div> 

}*@


<script type="text/javascript">
    pagelimit = '@ViewBag.PageLimit'
</script>